@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* Загальные стилі */
html, body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: "Unbounded", serif;
    margin: 0;
    padding: 0;
    background-color: #F2F8FF;
}


/* Логотип */
.logotyp {
    padding: 24px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotyp a {
    text-decoration: none;
}

.logotyp img {
    margin-right: 10px; /* Відступ між логотипом і текстом */
}

.logotyp strong {
    font-size: 24px; /* Розмір шрифту для тексту */
    font-weight: 700;
    color: rgb(0, 0, 0);
}

/* Стили для контейнера */

.nav-row {
    margin-left: 275px;
}
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.nav-list__item {
    list-style-type: none;
    width: 100%;
}

/* Стили для посилання */
.nav-list__link {
    color: #B8BED9;
    margin: 0.5em 0;
    display: flex;
    flex-direction: row; /* Иконка слева от текста */
    align-items: center;
    justify-content: flex-start; /* Текст и иконка выравниваются по левой стороне */
    text-decoration: none;
    padding: 16px 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    transition: background-color 0.3s ease;
}

.nav-list__link--active {
    background-color: #4062FF; /* Колір для активного елемента */
    color: white;
}

.nav-list__link img {
    margin-right: 10px; /* Располагаем иконку слева от текста */
}

.nav-list__link:hover {
    color: #4062FF; /* Колір при наведенні */
}

/* Стили для активного состояния при наведении */
.nav-list__link--active:hover {
    color: #ffffff; /* Колір активного елемента при наведенні */
}


.container {
    max-width: 783px;
    margin: 0 auto;
}

.section {
    margin-top: 24px;
    max-width: 720px;
    max-height: 244px;
    background-color: #4062FF;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 32px;
}

.about__h2 {
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-top: 57px;
    margin-left: 32px;
}

.about__h2  strong {
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 22px; /* Отступ между заголовком и кнопкой */
}

.about__descr {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}


.about__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #40BAFF;
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 18px;
    margin-top: 22px; /* Отступ для опускания кнопки на 22px */
    display: table-caption;
}

.about__link:hover {
    color: #40BAFF;
    background-color: #ffffff;
    text-decoration: none; /* Убираем подчеркивание */
}

.image-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Выравниваем изображение по верхнему краю */
}

.image-block img {
    width: 313px;
    height: 241px;
    margin-top: 3px; /* Отступ сверху для изображения */
    margin-right: 23px;
    margin-left: 39px;
}



.container {

    max-width: 783px;
    margin: 0 auto;
}
.section__info {
    margin-top: 24px;
    max-width: 720px;
    height: 100%;
    background-color: #4062FF;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
}
.about__h2__info {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
}

.about__h2__info  strong {
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin-left: 40px;
}

.about__h2__info p {
    margin-bottom: 39px;
    margin-left: 40px;
    margin-right: 40px;
}